@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap&#39;);
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap&#39;);

:root{
--branco: white;
--cor-de-fundo:#00162e;
--fundo-senha:#00244d;
--fundo-texto: #001e40;
--borda: #0075ff;
--roboto: 'Roboto', sans-serif;
--roboto-mono: 'Roboto Mono', sans-serif;
}

*{
font-weight: 400;
}

body{
color: var(--branco);
background-color: var(--cor-de-fundo);
font-family: var(--roboto);
}

.titulo-principal{
font-family: var(--roboto-mono);
font-size: 32px;
}

.titulo-secundario{
font-size: 24px;
}

.conteudo-titulo{
text-align: center;
margin-top: 80px;
}

.conteudo-senha{
background-color: var(--fundo-senha);
padding: 24px;
border-bottom: 6px solid var(--borda);
margin-top: 80px;
}

#campo-senha{
background-color: var(--fundo-senha);
border: none;
color: var(--branco);
font-family: var(--roboto-mono);
font-size: 40px;
}

#campo-senha-focus{
outline: none;
}

.conteudo{
max-width: 1200px;
margin: 0 auto;
}