@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --branco:white;
    --cor-de-fundo:#00162e;
    --fundo-senhra:#00244d;
    --fundo-texto: #0075ff;
    --borda: #001e40;
    --roboto: 'roboto', sans-serif;
    --roboto: 'roboto mono',sans-serif
}

body{
    color: var(branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}