@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --branco:white;
    --cor-de-fundo:#00162e;
    --fundo-da-senha:#00244d;
    --fundo-texto: #001e40;
    --borda: #0075ff;
    --roboto: 'roboto', sans-serif;
    --roboto-mono: 'roboto mono',sans-serif
}
    
*{
    font-weight: 400;
}

body{
   color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}


.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}
   
.conteudo-titulo{
    text-align: center;
    margin-top: 88px;
}

.conteudo-senha{
background-color: var(--fundo-da-senha);
padding: 24px;
border-bottom: 6px solid var(--borda);
margin-top: 80px;
}

#campo-senha{
    background-color: var(--fundo-da-senha);
    border: none;
    color: var(--branco);
    font-family: var(--roboto-mono);
    font-size: 40px;
}

#campo-senha-focus{
    outline: none;

}

.conteudo{
max-width: 1200px;
margin: 0 auto;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 30px;
    padding: 24px;
    
}